@font-face {
  font-family: MontserratRegular;
  src: url("../fonts/MontserratRegular.ttf");
}

@font-face {
  font-family: MerriweatherLightItalic;
  src: url("../fonts/MerriweatherLightItalic.ttf");
}

@font-face {
  font-family: HelveticaNeueLTProLt;
  src: url("../fonts/HelveticaNeueLTProLt.otf");
}

@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/RobotoRegular.ttf");
}

@font-face {
  font-family: HelveticaNeueLTProRoman;
  src: url("../fonts/HelveticaNeueLTProRoman.otf");
}

@font-face {
  font-family: MontserratLight;
  src: url("../fonts/MontserratLight.ttf");
}

@font-face {
  font-family: HelveticaNeueLTProMd;
  src: url("../fonts/HelveticaNeueLTProMd.otf");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@mixin font($font, $size, $color) {
  font-family: $font;
  font-size: $size;
  color: $color;
}

.header {
  background-color: #fff;
  &__nav {
    margin-left: 70px;
    .nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      &__menu {
        @include font("RobotoRegular", 13px, #979797);
        margin-right: 44px;
        padding-top: 22px;
      }
      &__menu:hover {
        color: #121212;
      }
    }
  }
  &__logo {
    margin: 0 59px 0 15px;
  }
  &__text {
    text-align: center;
    &_headLine {
      @include font("HelveticaNeueLTProLt", 23px, #1e1e1e);
      margin-top: 298px;
    }
    &_subtitle {
      @include font("MerriweatherLightItalic", 16px, #888);
    }
    h1 {
      font-weight: 400;
    }
  }
  &__button {
    text-align: center;
    margin-top: 43px;
    &_btn {
      background-color: #fff;
      border: 1px solid #000;
      font-family: MontserratRegular;
      font-size: 13px;
      padding: 20px 50px 19px 51px;
      cursor: pointer;
    }
  }
  &__goDown {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 284px 0 92px 0;
    &_elipseOne {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #f0f0f0;
    }
    &_elipseTwo {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #e0e0e0;
      margin: 12px 0 12px 0;
    }
    &_elipseThree {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #d0d0d0;
    }
  }
}

.aboutUs {
  background-color: #1d1d1d;
  background-image: url(../images/BgAboutUs.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  &__blockOneAndTwo {
    width: 100%;
    display: flex;
  }
  &__blockOne {
    width: 100%;
    border-right: 5px solid #fff;
    &_block2011 {
      margin-top: 151px;
    }
    &_block2013 {
      margin-top: 255px;
    }
    &_data2011 {
      @include font("HelveticaNeueLTProRoman", 48px, #fefefe);
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
    }
    &_bigCircl2011 {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #fff;
      margin: 12px -14px 0 81px;
      z-index: 1;
    }
    &_bigCircl2013 {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background-color: #fff;
      margin: 12px -25px 0 81px;
      z-index: 1;
    }
    &_smallCircl {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #1d1d1d;
      margin: 4px 0 0 4px;
    }
    &_smallCircl2013 {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: #1d1d1d;
      margin: 5px 0 0 5px;
    }
    &_dataText2011 {
      @include font("MontserratLight", 15px, #b7b7b7);
      display: flex;
      justify-content: flex-end;
      margin-right: 92px;
    }
  }
  &__blockTwo {
    width: 100%;
    &_block2012 {
      margin-top: 270px;
    }
    &_block2014 {
      margin-top: 352px;
    }
    &_data2012 {
      @include font("HelveticaNeueLTProRoman", 48px, #fefefe);
      display: flex;
      margin-bottom: 10px;
    }
    &_bigCircl2012 {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #fff;
      margin: 12px 65px 0 -15px;
      z-index: 1;
    }
    &_smallCircl {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #1d1d1d;
      margin: 4px 0 0 4px;
    }
    &_dataText2012 {
      @include font("MontserratLight", 15px, #b7b7b7);
      display: flex;
      margin-left: 74px;
    }
    &_dataText2014 {
      @include font("MontserratLight", 15px, #b7b7b7);
      display: flex;
      margin-left: 74px;
      padding-bottom: 463px;
    }
  }
  &__layers {
    
  }
}

.team {
  &__text {
    text-align: center;
    &_headLine {
      @include font("HelveticaNeueLTProLt", 24px, #1e1e1e);
      margin-top: 82px;
    }
    h2 {
      font-weight: 300;
    }
    &_subtitle {
      @include font("MerriweatherLightItalic", 16px, #888);
      margin-bottom: 124px;
    }
  }
  &__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &_piplOne {
      margin-top: 90px;
    }
    &_piplImg {
      text-align: center;
    }
    &_piplName {
      @include font("HelveticaNeueLTProRoman", 24px, #464646);
      text-align: center;
    }
    &_piplPosition {
      @include font("HelveticaNeueLTProRoman", 13px, #b3b3b3);
      text-align: center;
    }
    &_piplSocial {
      display: flex;
      justify-content: center;
      margin-top: 24px;
    }
    &_piplSocialInstagram {
      margin-left: 16px;
      padding-bottom: 85px;
    }
    &_piplTwo {
      margin: 0 220px 0 220px;
    }
  }
}

.service {
  width: 100%;
  background-color: #181818;
  transform: skew(0, -6deg);
  margin-top: 53px;
  position: relative;
  padding-bottom: 256px;
  overflow: hidden;
  &__text {
    transform: skew(0, 6deg);
    text-align: center;
    &_headLine {
      @include font("HelveticaNeueLTProLt", 30px, #fff);
      padding-top: 134px;
    }
    h3 {
      font-weight: 300;
    }
    &_subtitle {
      @include font("MerriweatherLightItalic", 16px, #777);
      padding-bottom: 218px;
    }
  }

  .serviceBlock {
    transform: skew(0, 6deg);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    &__section {
      width: 320px;
      &_headLine {
        @include font("HelveticaNeueLTProLt", 26px, #fff);
        margin: 35px 0 31px 0;
      }
      &_subtitle {
        @include font("HelveticaNeueLTProLt", 18px, #383838);
        padding-bottom: 95px;
      }
      &_two {
        width: 320px;
        margin: 0 81px 0 81px;
      }
    }
  }

  .serviceBlogPost {
    transform: skew(0, 6deg);
    display: flex;
    justify-content: center;
    &__img {
      position: absolute;
    }
    &__button {
      text-align: center;
      padding: 382px 218px 0 0;
      &_btn {
        @include font("HelveticaNeueLTProMd", 16px, #000);
        padding: 20px 38px 20px 45px;
        background-color: #fff;
        border: 1px solid #fff;
        position: absolute;
        cursor: pointer;
      }
    }
  }
}

.contactUs {
  background-color: #fff;
  &__text {
    margin-top: 100px;
    padding-top: 127px;
    &_headLine {
      @include font("HelveticaNeueLTProLt", 34px, #1e1e1e);
      text-align: center;
    }
    h4 {
      font-weight: 400;
    }
    &_subtitle {
      @include font("MerriweatherLightItalic", 16px, #888);
      text-align: center;
    }
  }
  &__iconAndInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 64px;
    margin-left: 60px;
  }
  &__blockInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    &_info {
      @include font("HelveticaNeueLTProLt", 12px, #a8a8a8);
      padding-top: 12px;
      margin-bottom: 118px;
    }
    &_email {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 7px;
      text-align: center;
    }
  }
  &__blockInfoAddress {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 97px 0 95px;
    &_address {
      @include font("HelveticaNeueLTProLt", 12px, #a8a8a8);
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      padding-top: 12px;
      margin-bottom: 118px;
    }
  }
  &__contactForm {
    margin-bottom: 154px;
  }
  .contactUsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__name {
      padding: 20px 300px 20px 300px;
      margin-bottom: 20px;
      border: 1px solid #999;
      text-align: center;
    }
    &__email {
      padding: 20px 300px 20px 300px;
      margin-bottom: 20px;
      border: 1px solid #999;
      text-align: center;
    }
    &__tel {
      padding: 20px 300px 20px 300px;
      margin-bottom: 20px;
      border: 1px solid #999;
      text-align: center;
    }
    &__message {
      border: 1px solid #999;
      margin-bottom: 20px;
      padding: 22px 578px 158px 22px;
    }
    &__submit {
      @include font("HelveticaNeueLTProMd", 17px, #fefefe);
      padding: 20px 360px 20px 360px;
      background-color: #161616;
      border: 1px solid #161616;
      text-align: center;
      cursor: pointer;
    }
    ::placeholder {
      @include font("HelveticaNeueLTProLt", 15px, #a0a0a0);
    }
  }
}

.footer {
  &__copyright {
    @include font("HelveticaNeueLTProRoman", 14px, #3b3b3b);
    text-align: center;
    padding-bottom: 55px;
  }
}
